<div class="bg-info text-light" id="hire-me">
  <div class="container py-3">
    <div class="row py-3">
      <div class="col-12">
        <h2 class="text-center mb-0">Hire Me</h2>
      </div>
    </div>
  </div>
</div>

<div class="bg-white text-dark">
  <div class="container pt-3" id="contact">
    <div class="row py-3">
      <div class="col-12">
        <p><%= @person.personal_blurb %></p>
      </div>

      <div class="col-12 col-md-6">
        <h4 class="text-center">My Contact Info</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= svg_icon "person" %> <%= @person.name %>
          </li>
          <li class="list-group-item">
            <%= svg_icon "mapmarker" %> <%= @person.location %>
          </li>
          <li class="list-group-item">
            <%= svg_icon "phone" %> <%= @person.phone %>
          </li>
          <li class="list-group-item">
            <%= svg_icon "email" %> <%= @person.email %>
          </li>
          <li class="list-group-item">
            <%= svg_icon "linkedin" %> <%= @person.linkedin %>
          </li>
          <li class="list-group-item">
            <%= svg_icon "pdf" %>
            <%= link_to "Download my resume", asset_path("Philip_Brocoum_resume.pdf") %>
          </li>
          <li class="list-group-item">
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-6">
        <h4 class="text-center">Send a Message</h4>
        <%= render "form" %>
      </div>

    </div>
  </div>
</div>
