<div id="cover" class="bg-dark">
  <div class="container text-center text-light">
    <div class="row pt-3" id="cover-row">
      <div class="col-12 align-self-start"></div>
      <div class="w-100"></div>
      <div class="col-12 align-self-center">
        <div class="fixed-ratio-container mb-3" id="profile-pic-container">
          <div class="fixed-ratio">
            <%= image_2x @person.profile_pic, class: "fixed-ratio-content rounded-circle" %>
          </div>
        </div>
        <h1 class="display-4 d-none d-sm-block"><%= @person.name %></h1>
        <h1 class="d-sm-none"><%= @person.name %></h1>
        <p class="lead"><%= @person.about %></p>
        <p class="mb-4"><%= @person.location %></p>
        <p>
          <%= link_to_social "github", @person.github %>
          <%= link_to_social "linkedin-in", @person.linkedin %>
          <%= link_to_social "facebook", @person.facebook %>
          <%= link_to_social "twitter", @person.twitter %>
        </p>
        <p class="mt-5">
          <%= link_to "Hire Me", "#", class: "btn btn-lg btn-danger" %>
        </p>
      </div>
      <div class="w-100"></div>
      <div class="col-12 align-self-end mb-4">
        <p class="text-secondary">Scroll to read more...<br /><i class='fas fa-chevron-down fa-lg'></i></p>
      </div>
    </div>
  </div>
</div>
