<div id="cover" class="bg-dark">
  <div class="container text-center text-light">
    <div class="row pt-3" id="cover-row">
      <div class="col-12 align-self-start"></div>
      <div class="w-100"></div>
      <div class="col-12 align-self-center">
        <div class="fixed-ratio-container mb-3" id="profile-pic-container">
          <div class="fixed-ratio">
            <%= image_2x @person.profile_pic, class: "fixed-ratio-content rounded-circle" %>
          </div>
        </div>
        <h1 class="display-4 d-none d-sm-block"><%= @person.name %></h1>
        <h1 class="d-sm-none"><%= @person.name %></h1>
        <%= markdown @person.about %>
        <p class="mb-4"><%= @person.location %></p>
        <p class="icons">
          <%= link_to_social "github", @person.github, {title: "GitHub"} %>
          <%= link_to_social "stackoverflow", @person.stackoverflow, {title: "Stack Overflow"} %>
          <%= link_to_social "linkedin", @person.linkedin, {title: "LinkedIn"} %>
          <!-- <%= link_to_social "facebook", @person.facebook, {title: "Facebook"} %> -->
          <%= link_to_social "twitter", @person.twitter, {title: "Twitter"} %>
        </p>
        <p class="mt-5">
          <%= link_to "#{@person.for_hire ? 'Hire' : 'Contact'} Me", "javascript:document.getElementById(\"hire-me\").scrollIntoView(true);", class: "btn btn-lg btn-#{@person.for_hire ? 'danger' : 'info'}" %>
        </p>
      </div>
      <div class="w-100"></div>
      <div class="col-12 align-self-end mb-4">
        <p class="text-secondary">Scroll to read more...<br /><svg class="icon icon-chevron-down" style="font-size: 20px;"><use xlink:href="#icon-chevron-down"></use></svg></p>
      </div>
    </div>
  </div>
</div>
