<div class="container text-center text-light bg-dark" id="cover" style="background-image: url(<%= image_path @person.background_img %>);">
  <div class="row align-items-center h-100">
    <div class="col">
      <%= image_2x @person.profile_pic, id: "profile-pic", class: "rounded-circle" %>
      <h1><%= @person.name %></h1>
      <p class="lead"><%= @person.about %></p>
      <p><%= @person.location %></p>
      <p>
        <%= link_to_social "github", @person.github %>
        <%= link_to_social "linkedin-in", @person.linkedin %>
        <%= link_to_social "facebook", @person.facebook %>
        <%= link_to_social "twitter", @person.twitter %>
      </p>
      <br /><br />
      <p>
        <%= link_to "Hire Me", "#", class: "btn btn-lg btn-danger" %>
        <%= link_to "My Work", "#", class: "btn btn-lg btn-secondary" %>
      </p>
    </div>
  </div>
</div>



<div class="text-center cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Cover</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own
      fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for
        <a href="https://getbootstrap.com/">Bootstrap</a>, by
        <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>
</div>