<div class="col-12 pt-3">
  <div class="media">
    <%= link_to svg_icon(school.svg, class: "mr-3"), school.link %>
    <div class="media-body">
      <h5><%= link_to school.name, school.link %></h5>
      <div class="addendum">
        <em>&mdash; <%= school.description.html_safe %> (<%= school.dates.html_safe %>)</em>
      </div>
      <p><%= markdown school.blurb   %></p>
    </div>
  </div>
</div>
