<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @person.name %> &mdash; <%= @person.about %></title>
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300&text=<%= u @person.name %>" rel="preload" as="style">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans" rel="preload" as="style">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300&text=<%= u @person.name %>" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style><%= render "layouts/style.scss" %></style>
  </head>

  <body>
    <%= render "layouts/svg" %>

    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      // ready helper
      window.ready = function(fn) {
        if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
          fn();
        } else {
          document.addEventListener('DOMContentLoaded', fn);
        }
      }
      // parseHTML helper
      window.parseHTML = function(str) {
        var tmp = document.implementation.createHTMLDocument();
        tmp.body.innerHTML = str;
        return tmp.body.children;
      };

      // document.ready
      ready(function(){

      });
    </script>
    <script><%= render "layouts/script.coffee" %></script>
  </body>
</html>
