<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @person.name %> &mdash; <%= @person.about %></title>
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style><%= render "layouts/style.scss" %></style>
  </head>

  <body>
  <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-facebook2" viewBox="0 0 64 64">
<title>facebook2</title>
<path d="M58 0h-52c-3.3 0-6 2.7-6 6v52c0 3.3 2.7 6 6 6h26v-28h-8v-8h8v-4c0-6.613 5.388-12 12-12h8v8h-8c-2.2 0-4 1.8-4 4v4h12l-2 8h-10v28h18c3.3 0 6-2.7 6-6v-52c0-3.3-2.7-6-6-6z"></path>
</symbol>
<symbol id="icon-twitter" viewBox="0 0 64 64">
<title>twitter</title>
<path d="M64 14.15c-2.35 1.050-4.888 1.75-7.538 2.062 2.712-1.625 4.788-4.2 5.775-7.262-2.538 1.5-5.35 2.6-8.337 3.188-2.4-2.55-5.813-4.138-9.587-4.138-7.25 0-13.125 5.875-13.125 13.125 0 1.025 0.113 2.025 0.337 2.988-10.913-0.55-20.587-5.775-27.063-13.725-1.125 1.938-1.775 4.2-1.775 6.6 0 4.55 2.312 8.575 5.838 10.925-2.15-0.063-4.175-0.663-5.95-1.637 0 0.050 0 0.113 0 0.163 0 6.363 4.525 11.675 10.537 12.875-1.1 0.3-2.262 0.462-3.463 0.462-0.85 0-1.662-0.087-2.475-0.237 1.675 5.212 6.525 9.012 12.262 9.125-4.5 3.525-10.15 5.625-16.313 5.625-1.063 0-2.1-0.063-3.138-0.188 5.825 3.737 12.725 5.9 20.137 5.9 24.15 0 37.362-20.013 37.362-37.362 0-0.575-0.013-1.137-0.038-1.7 2.563-1.837 4.788-4.15 6.55-6.787z"></path>
</symbol>
<symbol id="icon-github" viewBox="0 0 64 64">
<title>github</title>
<path d="M32.001 0.79c-17.671 0-32.001 14.326-32.001 32 0 14.138 9.169 26.133 21.884 30.365 1.599 0.296 2.187-0.694 2.187-1.539 0-0.763-0.030-3.284-0.044-5.958-8.903 1.936-10.781-3.776-10.781-3.776-1.455-3.699-3.553-4.682-3.553-4.682-2.903-1.986 0.219-1.945 0.219-1.945 3.213 0.226 4.905 3.298 4.905 3.298 2.855 4.892 7.486 3.477 9.313 2.66 0.287-2.068 1.116-3.48 2.032-4.279-7.108-0.809-14.58-3.553-14.58-15.815 0-3.494 1.25-6.348 3.297-8.589-0.332-0.806-1.428-4.061 0.309-8.469 0 0 2.688-0.86 8.802 3.281 2.552-0.709 5.29-1.065 8.010-1.077 2.719 0.012 5.459 0.368 8.016 1.077 6.108-4.14 8.791-3.281 8.791-3.281 1.742 4.408 0.647 7.663 0.315 8.469 2.051 2.241 3.293 5.096 3.293 8.589 0 12.291-7.486 14.997-14.612 15.789 1.148 0.993 2.17 2.94 2.17 5.926 0 4.282-0.037 7.728-0.037 8.782 0 0.852 0.576 1.85 2.198 1.535 12.708-4.236 21.865-16.227 21.865-30.361 0-17.674-14.327-32-32-32z"></path>
</symbol>
<symbol id="icon-linkedin2" viewBox="0 0 64 64">
<title>linkedin2</title>
<path d="M24 24h11.069v5.674h0.158c1.54-2.762 5.31-5.674 10.928-5.674 11.684 0 13.845 7.273 13.845 16.733v19.267h-11.538v-17.080c0-4.074-0.083-9.314-6.002-9.314-6.009 0-6.926 4.437-6.926 9.018v17.376h-11.534v-36z"></path>
<path d="M4 24h12v36h-12v-36z"></path>
<path d="M16 14c0 3.314-2.686 6-6 6s-6-2.686-6-6c0-3.314 2.686-6 6-6s6 2.686 6 6z"></path>
</symbol>
</defs>
</svg>


    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      $(document).ready(function(){
        WebFont.load({
          google: {
            families: ['Work Sans:300'],
            text: "<%= @person.name %>"
          }
        });
        WebFont.load({
          google: {
            families: ['Work Sans:400', 'Open Sans']
          }
        });
      });
    </script>
    <script><%= render "layouts/script.coffee" %></script>
  </body>
</html>
