<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @person.name %> &mdash; <%= @person.about %></title>
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300&text=<%= u @person.name %>" rel="preload" as="style">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans" rel="preload" as="style">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300&text=<%= u @person.name %>" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style><%= render "layouts/style.scss" %></style>
  </head>

  <body>
    <%= render "layouts/svg" %>

    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      // ready helper
      window.ready = function(fn) {
        if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
          fn();
        } else {
          document.addEventListener('DOMContentLoaded', fn);
        }
      }
      // parseHTML helper
      window.parseHTML = function(str) {
        var tmp = document.implementation.createHTMLDocument();
        tmp.body.innerHTML = str;
        return tmp.body.children;
      };

      // document.ready
      ready(function(){

        // Ajax Csrf
        var request = new XMLHttpRequest();
        request.open('GET', '<%= csrf_meta_tags_path %>', true);
        request.onload = function() {
          if (request.status >= 200 && request.status < 400) {
            // Success!
            var resp = request.responseText;
            var el_csrfs = parseHTML(resp);
            var el_head = document.querySelector('head');
            l = el_csrfs.length;
            for(var i = 0; i < l; i++) {
              el_head.appendChild(el_csrfs[0]); // moves, not copies
            }
          } else {
            // We reached our target server, but it returned an error
          }
        };
        request.onerror = function() {
          // There was a connection error of some sort
        };
        request.send();
      });
    </script>
    <script><%= render "layouts/script.coffee" %></script>
  </body>
</html>
